<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <footer class="page-footer blue-grey">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">WRITE</h5>
                    <p class="grey-text text-lighten-4">Share with the whole world.</p>
                </div>
                <!--<div class="col l4 offset-l2 s12">-->
                <!--<h5 class="white-text">Links</h5>-->
                <!--<ul>-->
                <!--<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>-->
                <!--<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>-->
                <!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
                <!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Text
                <a class="grey-text text-lighten-4 right" href="https://github.com/sipi7github">Simon P.</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>