<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <footer class="page-footer grey lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>WRITE</h5>
                    <p>Share with the whole world.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <span style="color: black">© 2017 Copyright Text</span>
                <a class="right" href="https://github.com/sipi7github">Developer: Simon P.</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>