<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="links">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" media="screen, projection"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"
          th:href="@{/webjars/materialize/0.97.3/dist/css/materialize.min.css}"/>
    <link rel="stylesheet" media="screen, projection" href="css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body th:fragment="scripts">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"
        th:src="@{/webjars/materialize/0.97.3/dist/js/materialize.min.js}"></script>
</body>
</html>