<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey lighten-2">
                <a href="/" class="brand-logo">WRITE</a>
                <!--<div class="my-search">-->
                <!--<form>-->
                <!--<div class="input-field">-->
                <!--<input id="search" type="search"/>-->
                <!--<label class="label-icon" for="search"><i class="material-icons">search</i></label>-->
                <!--<i class="material-icons">close</i>-->
                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
                <!--<ul class="right hide-on-large-only">-->
                <!--<li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown1"><i class="material-icons">menu</i></a>-->
                <!--</li>-->
                <!--<ul id="dropdown1" class="dropdown-content">-->
                <!--<li><a th:href="@{/registration}">Sign up</a></li>-->
                <!--<li><a th:href="@{/login}">Sign in</a></li>-->
                <!--</ul>-->
                <!--</ul>-->
                <ul class="right hide-on-large-only">
                    <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown2"><i
                            class="material-icons">menu</i></a>
                    </li>
                    <ul id="dropdown2" class="dropdown-content">
                        <li><a th:href="@{/article/new}">Write</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/}">Profile</a></li>
                        <li><a th:href="@{/}">Settings</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/}">Sign out</a></li>
                    </ul>
                </ul>
                <!--<ul class="right hide-on-med-and-down">-->
                <!--<li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown3"><i class="material-icons">menu</i></a>-->
                <!--</li>-->
                <!--<ul id="dropdown3" class="dropdown-content">-->
                <!--<li><a th:href="@{/registration}">Sign up</a></li>-->
                <!--<li><a th:href="@{/login}">Sign in</a></li>-->
                <!--</ul>-->
                <!--</ul>-->
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" data-beloworigin="true" data-activates="dropdown4">Guest</a>
                    </li>
                    <ul id="dropdown4" class="dropdown-content">
                        <li><a th:href="@{/}">Profile</a></li>
                        <li><a th:href="@{/}">Settings</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/}">Sign out</a></li>
                    </ul>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>