<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue-grey">
                <a href="/" class="brand-logo">WRITE</a>
                <!--<ul class="right hide-on-med-and-down">-->
                    <!--<li><a th:href="@{/registration}">Sign up</a></li>-->
                    <!--<li><a th:href="@{/login}">Sign in</a></li>-->
                <!--</ul>-->
                <ul class="right hide-on-med-and-down">
                    <li><a href=""><i class="material-icons">search</i></a></li>
                    <li><a class="dropdown-button" data-activates="dropdown1">Guest<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a th:href="@{/header.html}">Profile</a></li>
                    <li><a th:href="@{/header.html}">Settings</a></li>
                    <li class="divider"></li>
                    <li><a th:href="@{/header.html}">Sign out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>