body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    cursor: pointer;
    color: #00000099;
}

/*.my-search {*/
/*padding: 0px 425px;*/
/*height: 0px;*/
/*}*/

.my-article-chips {
    padding: 0 0 40px;
    margin-left: 300px;
    margin-right: 300px;
}

.my-p-article {
    text-align: justify;
    text-indent: 1.5em;
    padding: 25px 180px 10px;
    font-size: 20px;
    -moz-text-align-last: left;
    text-align-last: left;
}

.my-h5-article {
    padding: 10px 200px;
}

.my-h3-article {
    padding: 10px 350px;
}

.my-newarticle-col-s6 {
    left: 35%;
}

.my-newarticle-col-s8 {
    left: 28%;

}

.my-newarticle-col-s10 {
    left: 21%;
}

.my-btn-newarticle {
    padding: 10px 22%;
}

a:hover {
    color: #cfd8dc;
    transition: color .3s ease;
}

nav ul a {
    padding: 0 25px;
}

.card .card-action a {
    color: #00000099;
    margin-right: auto;
    text-transform: capitalize;
}

.card .card-action a:hover {
    color: #cfd8dc;
    margin-right: auto;
}

.row .col.pull-s7 {
    position: fixed;
    left: 15%;
}

.row .col.s5 {
    width: 15%;
}

.row .col.s7 {
    width: 55%;
}

.row .col.pull-s8 {
    position: fixed;
    right: 65%;
    width: 30%;
    top: 53%;
}

.row .col.push-s5 {
    left: 30%;
}

.pagination li.active {
    background-color: #607d8b;
}

.collapsible {
    border-color: #607d8b;
    border-radius: 2px;
}

.collapsible-header {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.collapsible-body {
    padding: 10px;
    border-bottom: 1px solid #607d8b;
}

.collapsible-body p {
    padding: 0;
    color: white;
}

[type="checkbox"] + label {
    color: #00000099;
}

[type="checkbox"] + label:hover {
    color: #cfd8dc;
    transition: color .3s ease;
}

nav {
    height: 45px;
    line-height: 45px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 45px;
    line-height: 45px;
}

nav .button-collapse i {
    height: 45px;
    line-height: 45px;
}

nav .brand-logo {
    font-size: 2.0rem;
}

.row {
    margin-bottom: 0;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #00000099;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 45px;
        line-height: 45px;
    }
}

@media only screen and (min-width: 915px) {
    .navbar-fixed {
        height: 50px;
    }

    nav .brand-logo {
        left: 20px;
    }
}

@media only screen and (max-width: 650px) {
    .row .col[class*="push-"], .row .col[class*="pull-"] {
        position: initial;
    }
}

@media only screen and (max-width: 650px) {
    .row .col.s7 {
        width: 100%;
    }

    .my-p-article {
        padding: 25px 10px;
        font-size: 18px;
        -moz-text-align-last: left;
        text-align-last: left;
    }

    .my-h5-article {
        padding: 10px 10px;
    }

    .my-h3-article {
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 790px) {
    nav .brand-logo {
        left: 60px;
    }

    .row .col.push-s5 {
        left: auto;
        width: 100%;
    }

    .my-p-article {
        padding: 25px 20px;
    }

    .my-h5-article {
        padding: 10px 5px;
    }

    .my-h3-article {
        padding: 10px 20px;
    }
}

