<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: links"></th:block> /*/-->
    <title>ADMIN</title>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<main>
    <div class="row">
        <div class="col s6">
            <div>
                <p th:text="${'Кол-во категорий: ' + categoryTotal}"></p>
                <p th:text="${'Кол-во записей: ' + articleTotal}"></p>
            </div>
            <div style="text-transform: capitalize">
                <div th:each="category : ${category}">
                    <a th:href="${'admin/category/' + category.id}" th:text="${category.name}"></a>
                </div>
            </div>
            <div>
                <a th:href="@{/admin/new/category}">Добавить новую категорию</a>
            </div>
        </div>
    </div>
</main>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/head :: scripts"></th:block> /*/-->
</body>
</html>