<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: links"></th:block> /*/-->
    <title>New Article</title>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<main>
    <div class="row">
        <div>
            <h3 class="my-h3-article center-align" th:text="${article.header}"></h3>
        </div>
        <form class="col s10" th:object="${article}" th:action="@{/article/save}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{author}"/>
            <input type="hidden" th:field="*{date}"/>
            <input type="hidden" th:field="*{header}"/>
            <div class="row">
                <div class="input-field col s8 my-newarticle-col-s8">
                    <input id="input_text2" class="center" type="text" th:field="*{description}"
                           data-length="80"/>
                    <label for="input_text2">Description (max:80)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 my-newarticle-col-s8">
                    <input id="input_text3" class="center" type="text" th:field="*{category}"
                           data-length="80"/>
                    <label for="input_text3">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 my-newarticle-col-s10">
                    <textarea id="textarea1" type="text" class="materialize-textarea" th:field="*{text}"
                              data-length="9000"></textarea>
                    <label for="textarea1">Text</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</main>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/head :: scripts"></th:block> /*/-->
</body>
</html>