<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: links"></th:block> /*/-->
    <title>Write</title>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div>
    <div class="row">
        <div class="col s5 pull-s7">
            <ul class="collapsible white-text" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header blue-grey">Category</div>
                    <div class="collapsible-body blue-grey lighten-2">
                        <div class="my-collapsible-body">
                            <ul th:each="category : ${category}">
                                <li><a th:text="${category.category}"></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey">Filter</div>
                    <div class="collapsible-body blue-grey lighten-2"><span>TEST</span></div>
                </li>
                <li>
                    <div class="collapsible-header blue-grey">Search</div>
                    <div class="collapsible-body blue-grey lighten-2"><span>TEST</span></div>
                </li>
            </ul>
        </div>
        <div th:each=" article : ${article}">
            <div class="col s7 push-s5">
                <div class="card blue-grey">
                    <a th:href="${'article/' + article.id}">
                        <div class="card-content white-text center">
                            <span class="card-title" th:text="${article.caption}"></span>
                            <p th:text="${article.description}"></p>
                        </div>
                    </a>
                    <div class="card-action">
                        <div class="chip blue-grey lighten-2">
                            <img src="https://img11.deviantart.net/e4a2/i/2016/096/f/7/avatar_icon_by_astrolink247-d9xxs6r.jpg"
                                 alt="Contact Person"/>
                            <a th:text="${article.author}"></a>
                        </div>
                        <div class="chip blue-grey lighten-2">
                            <span th:text="${article.date}"></span>
                        </div>
                        <div class="right">
                            <div class="chip blue-grey lighten-2">
                                <a th:text="${article.category}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn horizontal">
            <a th:href="@{/newarcticle}" class="btn-floating btn-large blue-grey">
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>
    </div>
    <div>
        <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/head :: scripts"></th:block> /*/-->
</body>
</html>