<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/head :: links"></th:block> /*/-->
    <title>New User</title>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<main>
    <div class="row">
            <form th:action="@{/login}" method="POST">
                <h3 th:text="Welcome"></h3>
                <br/>

                <input type="text" id="email" name="email"  th:placeholder="Email"
                       class="form-control" /> <br/>
                <input type="password"  th:placeholder="Password"
                       id="password" name="password"/> <br />

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
                </div>
                <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
            </form>
    </div>
</main>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
<!--/*/ <th:block th:include="fragments/head :: scripts"></th:block> /*/-->
</body>
</html>